<div class="container p-5">
  <h1>Restaurant Guide Berlin</h1>

  <ul class="list-unstyled">
   <% @restaurants.each do |restaurant| %>
   <li> <%= link_to restaurant.name, restaurant_path(restaurant) %>  </li>
   <% end %>
  </ul>
</div>
